<div class="container mt-5">
<h3>Admin Dashboard</h3>
<h5>Users:</h5>
<ul class="list-unstyled">
  <% @users.each do |user| %>
  <li><%= user.display_name %> <%= link_to 'Delete', user, method: :delete %> <%= link_to 'Edit', edit_user_path(user.id) %></li>
  <% end %>
</ul>

<h5>Trips and reviews:</h5>
<%if @trips != nil%>
<ul class="list-unstyled"> 
  <% @trips.each do |trip| %>       
  <li><%=trip.name%> <%= link_to 'Delete', trip, method: :delete %> <%= link_to 'Edit', edit_trip_path(trip.id) %></li>  
  <%if trip.reviews != nil%>
  <ul>
    <%trip.reviews.each do |review|%>          
    <li><%=review.body%>  <%= link_to 'Delete', review, method: :delete %> <%= link_to 'Edit', edit_review_path(review.id) %></li>
    <%end%>
  </ul>
  <%end%>                
  <%end%>    
</ul>  
<%end%>
</div>
