<div class="container mt-5">
  <h3>Edit User</h3>
  
  <%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :display_name %>
    <%= f.text_field :display_name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>
  
  <div class="custom-file">
    <%= f.file_field :avatar, class: 'custom-file-input' %>
    <%= f.label :avatar, class: 'custom-file-label' %>
  </div>
  
  <%= f.submit "Update", class: 'btn btn-primary mt-3' %>
  <% end %>
</div>